* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: "Inter";
  background-color: #c4d2f5;
}

.player {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 100px;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 0px 0px 20px #fffefe26;
  width: fit-content;
  gap: 30px;
}
.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  gap: 6px;
}
.player-track-artist {
  font-size: 15px;
  color: #909090;
}
.player-progress {
  font-weight: 700;
  color: #909090;
  display: flex;
  width: 380px;
  justify-content: center;
  gap: 15px;
}
.player-button {
  color: white;
  padding: 20px;
  background-color: #e783bc;
  border-radius: 100%;
  width: fit-content;
  align-self: center;
}
.current {
  width: 32px;
}
.player-progress-bar {
  display: flex;
  color: #909090;
  background-color: #f6f6ef;
  padding: 140px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 6px;
  border-radius: 50px;
  align-self: center;
  position: relative;
}
.player-progress-inner {
  display: flex;
  background-color: #e783bc;
  padding: 3px;
  position: absolute;
  left: 0px;
  border-radius: 50px 0px 0px 50px;
}
audio {
  display: none;
}
